input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none; }

input[type='number'] {
  -moz-appearance: textfield; }

.main-profile {
  background: #fff;
  border-bottom: 1px solid #dadada; }

.user {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 40px; }

@media only screen and (max-width: 600px) {
  .user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; } }

.user a {
  color: #ffca00;
  font-weight: 400;
  text-decoration: underline; }

.user a:hover {
  text-decoration: none; }

.user label {
  color: #ffca00;
  font-weight: 400;
  text-decoration: underline;
  cursor: pointer; }

.user label:hover {
  text-decoration: none; }

.user input {
  display: none; }

.user__profile-wrp {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 500;
  padding-right: 20px; }

@media only screen and (max-width: 600px) {
  .user__profile-wrp {
    margin-bottom: 30px; } }

.user__profile-wrp span {
  color: #929292; }

.user__profile-wrp img {
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px; }

.user__profile-wrp p {
  text-transform: uppercase; }

.user__bonus-wrp span {
  color: #ffca00;
  font-weight: 500; }

.settings__btns {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.settings__btns button {
  width: 50%;
  display: block;
  background: inherit;
  border: none;
  padding: 10px;
  color: #646464;
  background: #f3f3f3;
  text-transform: uppercase;
  border: 1px solid #dadada;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px; }

.settings__btns .js-active {
  background: inherit;
  border-bottom: 1px solid #fff; }

.settings__profile-wrp, .settings__address-wrp {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #dadada;
  border-top: none;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: none; }

.settings__profile-wrp.js-active, .settings__address-wrp.js-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.settings h3 {
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center; }

.settings form {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  padding: 10px; }

.settings form label {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; }

.settings form input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #4A4A4A; }

.settings form input:focus {
  -webkit-box-shadow: 0 0 2px 1px #ffca00;
  box-shadow: 0 0 2px 1px #ffca00;
  outline: none; }

.settings form input[readonly=true] {
  background: #f3f3f3; }

.settings form input[readonly=true]:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.settings form a {
  color: #ffca00;
  font-weight: 400;
  text-decoration: underline;
  font-size: 16px; }

.settings form a:hover {
  text-decoration: none; }

.settings form p {
  text-align: center; }

.settings form .settings__subscribe,
.settings form .settings__sex {
  margin-bottom: 25px; }

.settings form .settings__subscribe input,
.settings form .settings__sex input {
  display: inline-block;
  width: auto;
  visibility: hidden; }

.settings form .settings__subscribe label,
.settings form .settings__sex label {
  position: relative;
  padding-left: 10px;
  margin-left: 20px; }

.settings form input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 2px solid #000000; }

.settings form input[type="radio"] + .checkbox-indicator {
  position: absolute;
  top: -1px;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #d5d5d5;
  border-radius: 50%; }

.settings form input[type="radio"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #ffca00;
  border-radius: 50%; }

.settings form input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0px;
  left: -7px;
  width: 17px;
  height: 17px;
  border: 2px solid #d5d5d5; }

.settings form input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 1px;
  width: 5px;
  height: 2px;
  background-color: #ffca00; }

.settings form input[type="checkbox"]:checked + .checkbox-indicator::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 2px;
  width: 15px;
  height: 2px;
  background-color: #ffca00; }

.settings form input[type="checkbox"]:checked + .checkbox-indicator::before {
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  z-index: 5; }

.settings form input[type="checkbox"]:checked + .checkbox-indicator::after {
  -webkit-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  transform: rotate(-55deg); }

.settings__social {
  width: 100%; }

.settings__social p {
  margin-bottom: 5px; }

.settings__social-wrp {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.settings__social-wrp i {
  font-size: 16px; }

.settings__social-wrp a {
  border: 1px solid #ffca00;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  color: #000 !important;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.settings__social-wrp a:hover {
  background: #ffca00; }

.settings__profile-btn-save {
  background: #ffca00;
  border: none;
  padding: 5px 30px;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.settings__profile-btn-save:hover {
  background: #edbc00; }

.change-data {
  padding: 20px;
  text-align: center;
  max-width: 350px;
  margin: 0 auto; }

.change-data h3 {
  margin-bottom: 30px;
  font-weight: 500;
  text-align: center; }

.change-data label {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%; }

.change-data input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #4A4A4A; }

.change-data input:focus {
  -webkit-box-shadow: 0 0 2px 1px #ffca00;
  box-shadow: 0 0 2px 1px #ffca00;
  outline: none; }

.change-data button {
  background: #ffca00;
  border: none;
  font-size: 18px;
  padding: 5px 30px;
  margin-top: 30px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.change-data button:hover {
  background: #edbc00; }

.main-register,
.main-access {
  margin-left: 0; }

.main-register .settings__profile-wrp,
.main-access .settings__profile-wrp {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #dadada;
  border-radius: 10px; }

.main-register .register__agreement,
.main-access .register__agreement {
  padding-top: 20px;
  font-size: 16px; }

.main-access .btn-register {
  text-decoration: underline;
  color: #edbc00; }

.main-access .btn-register:hover {
  text-decoration: none; }

.footer--center {
  margin-left: 0; }
